pipeline/PL_NB_Call.json
{
	"name": "PL_NB_Call",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/azurebatchdevelopers@gmail.com/NB_Copy",
					"baseParameters": {
						"tablename": {
							"value": "@pipeline().parameters.table_name",
							"type": "Expression"
						},
						"outputpath": {
							"value": "@variables('outpath')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ADB_Conn",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "outpath",
					"value": {
						"value": "@concat(pipeline().parameters.ouput_path,formatDateTime(utcnow(),'yyyyMMddhhmmss'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_sqldbconnect",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "insert into log_c values('@{pipeline().DataFactory}','@{pipeline().Pipeline}','@{pipeline().parameters.table_name}','@{variables('outpath')}','@{variables('records_count')}')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "records_count",
					"value": {
						"value": "@string(activity('Notebook1').output.runOutput)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"table_name": {
				"type": "string"
			},
			"ouput_path": {
				"type": "string"
			}
		},
		"variables": {
			"outpath": {
				"type": "String"
			},
			"records_count": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-24T02:09:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}